ENumberService/ENumberClient/Connected Services/EvaluationServiceRef/EvaluationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EvaluateQueryResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluateQueryResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EvaluateQueryResultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>